#cms_gallery {
  background-size: cover;
  background-position-x: center;
  position: relative;
}
#cms_gallery .content {
  position: relative;
  z-index: 1;
  padding: 2rem 2rem 4rem;
}
#cms_gallery .content h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}
#cms_gallery .content p {
  margin-top: 0.4rem;
  text-align: center;
}
#cms_gallery .content .wrapper-gallery {
  position: relative;
}
#cms_gallery .content .wrapper-gallery:not(.gallery-filled) > button {
  display: none;
}
#cms_gallery .content .wrapper-gallery > button {
  position: absolute;
  margin: auto 1.2rem;
  top: 0;
  bottom: 0;
  padding: 0 0 0.4rem;
}
#cms_gallery .content .wrapper-gallery > button img {
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
}
#cms_gallery .content .wrapper-gallery > button.btn-left, #cms_gallery .content .wrapper-gallery > button.btn-right {
  width: 3rem;
  height: 3rem;
  padding-top: 0.4rem;
}
#cms_gallery .content .wrapper-gallery > button.btn-left {
  left: 0;
}
#cms_gallery .content .wrapper-gallery > button.btn-right {
  right: 0;
}
#cms_gallery .content .wrapper-gallery #container-gallery img {
  cursor: pointer;
  transition: transform 0.3s;
}
#cms_gallery .content .wrapper-gallery #container-gallery img:hover {
  transform: scale(1.1);
}
#cms_gallery .content .wrapper-gallery.carousel-gallery #container-gallery {
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc(100vw - 4rem);
  min-height: 15rem;
  overflow-x: auto;
  padding-bottom: 0.4rem;
  margin: auto;
}
#cms_gallery .content .wrapper-gallery.carousel-gallery #container-gallery > div {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
#cms_gallery .content .wrapper-gallery.carousel-gallery #container-gallery::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#cms_gallery .content .wrapper-gallery.carousel-gallery #container-gallery img {
  width: 15rem;
  min-width: 15rem;
  height: 15rem;
  min-height: 15rem;
  box-shadow: 0 0 20px rgba(0, 0, 34, 0.0666666667);
  border-radius: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.4rem;
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery {
  display: flex;
  gap: 1rem;
  min-height: 15rem;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 0.4rem;
  margin: auto;
  width: 600px;
  max-width: calc(100vw - 4rem);
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery .text-loading {
  grid-column: span 3;
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
  width: 600px;
  min-width: calc(100% - 0.5rem);
  max-width: calc(100vw - 4rem);
  margin: auto;
}
@media (max-width: 660px) {
  #cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery .row {
    grid-auto-rows: calc((100vw - 4rem) / 3);
  }
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery .row .gallery-image {
  background-color: #ddd;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 34, 0.0666666667);
  border-radius: 0.4rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0.4rem;
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery .row .gallery-image:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}
#cms_gallery .content .wrapper-gallery.mosaic-gallery #container-gallery .row .gallery-image:nth-child(4) {
  grid-column: span 2;
  grid-row: span 2;
}
#cms_gallery .content .wrapper-gallery.netflix-gallery #container-gallery {
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc(100vw - 4rem);
  min-height: 15rem;
  overflow-x: auto;
  padding-bottom: 0.4rem;
  margin: auto;
}
#cms_gallery .content .wrapper-gallery.netflix-gallery #container-gallery > div {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
#cms_gallery .content .wrapper-gallery.netflix-gallery #container-gallery::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#cms_gallery .content .wrapper-gallery.netflix-gallery #container-gallery img {
  width: 15rem;
  min-width: 15rem;
  height: 24rem;
  min-height: 24rem;
  box-shadow: 0 0 20px rgba(0, 0, 34, 0.0666666667);
  border-radius: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.4rem;
}
#cms_gallery .content .wrapper-gallery .text-loading {
  opacity: 0.7;
  text-align: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1333333333);
}
#cms_gallery .gallery {
  display: flex;
  gap: 10px;
}
#cms_gallery .gallery .gallery-item {
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s;
}
#cms_gallery .gallery .gallery-item:hover {
  transform: scale(1.1);
}
#cms_gallery #modal-zoom-gallery-image {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
#cms_gallery #modal-zoom-gallery-image .modal-content {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.2s ease-in-out;
  cursor: grab;
}
#cms_gallery #modal-zoom-gallery-image > button {
  position: absolute;
  margin: auto 1.2rem;
  top: 0;
  bottom: 0;
  padding: 0 0 0.4rem;
  color: white;
}
#cms_gallery #modal-zoom-gallery-image > button img {
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
}
#cms_gallery #modal-zoom-gallery-image > button.btn-left, #cms_gallery #modal-zoom-gallery-image > button.btn-right {
  width: 3rem;
  height: 3rem;
  padding-top: 0.4rem;
}
#cms_gallery #modal-zoom-gallery-image > button.btn-left {
  left: 0;
}
#cms_gallery #modal-zoom-gallery-image > button.btn-right {
  right: 0;
}
#cms_gallery #modal-zoom-gallery-image .close {
  position: absolute;
  top: 20px;
  right: auto;
  left: auto;
  font-size: 30px;
  color: white;
  cursor: pointer;
  text-align: center;
  background: rgba(0, 0, 17, 0.4);
  padding: 1px 10px;
  border-radius: 50%;
  z-index: 999;
}/*# sourceMappingURL=cms_gallery.css.map */